.ipynb_checkpoints/
*.log
*.html
*.npy
*.pkl
*.parquet
**/*.csv
**/*.pdf
**/*.sqlite
**/*.pqt
**/*.png
delayed-peg/nq-quarto_files/
delayed-peg/v3/data/before-v6-fix.7z
delayed-peg/v3-new/data/
**/*.npz
**/*.zip
**/*.json
